body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.auth-container {
  display: flex;
  height: 100vh;
}

.form-section {
  flex: 0.40;
  padding: 60px;



background: #bbaea3;
  /*background: linear-gradient(135deg, #8e6e6e,#655353);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* nécessaire pour placer le logo en absolu à l’intérieur */
}

.form-section h2 {
  margin-bottom: 30px;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-section label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-section input,
.form-section select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #fff7f7;
  background-color: #fffefe;
  border-radius: 4px;
}

.form-section button {
  padding: 10px;
  background-color: #221111;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #a7b0b7;
}


/* SECTION IMAGE */
.image-section {
  flex: 0.60;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 50px;
}

.main-image {
  max-width: 150%;
  max-height: 300%;
  object-fit:cover;
  zoom:1.5;
}