html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background:#ddd2b83d /*#e1dbdb2c;*/
   /* couleur de fond discrète */
}
.fullscreen-page {
  height: 100%;
  width: 100%;
  padding:55px;
  box-sizing:border-box;
}

.responsable-title {
  font-size:30px;
  color: #000000;
  margin-bottom:25px;
  font-weight: bold;
}
.filter-bar button {
  background-color: #97077aff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-bar button:hover {
  background-color: #216497;
}


.btn-creer {
  background-color: #06367d;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn-creer:hover {
  background-color: #216497;
}
