html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #e3dcdc; /* couleur de fond discrète */
}
.fullscreen-page {
  height: 100%;
  width: 100%;
  padding:55px;
  box-sizing:border-box;
}

.responsable-title {
  font-size:30px;
  color: #000000;
  margin-bottom:25px;
  font-weight: bold;
}

.btn-creer {
  background-color: #1c156ce2;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn-creer:hover {
  background-color: #1565c0;
}
